.doubleQuestionCard {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.doubleQuestionCard__card {
    /* max-width: 1301px; */
    /* height: 156px; */
    border-bottom: 1px solid #5602a1;
    box-shadow: 0px 4px 4px 0px rgba(86, 2, 161, 0.25);
    /* z-index: -1; */
}

.doubleQuestionCard__down {
    margin-bottom: -57px;
}

.doubleQuestionCard__up {
    margin-top: -57px;
}

@media screen and (max-width: 1098px) {
    .doubleQuestionCard {
        padding-left: 0;
        padding-right: 0;
    }
}