.motivationCard {
    width: 100%;
    height: 646px;
    background-color: #89c5c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.motivationCard__width {
    max-width: 1600px;
    padding-left: 140px;
    padding-right: 140px;
}

.motivationCard__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #89c5c6;
    padding: 40px;
    position: relative;
}

.motivationCard__text {
    display: flex;
    flex-direction: column;
    width: 202px;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: transform 450ms;
}

.motivationCard__text:hover {
    transform: scale(1.08);
}

.motivationCard__text > h3 {
    padding-left: 10px;
    padding-right: 10px;
}

.motivationCard__headline  {
    padding-left: 10px;
    padding-right: 10px;
}

.motivationCard__phone {
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 450ms;
}

.motivationCard__phone:hover {
    transform: scale(1.08);
}

.motivationCard__phone > img {
    height: 350px;
}

.svg {
    align-self: center;
}

@media screen and (max-width: 1102px) {
    .motivationCard__width {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .motivationCard {
        height: fit-content;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .motivationCard__width {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 300px) {
    .motivationCard__phone > img {
        height: 319px;
    }
}

.card__logo {
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}