.questionCard {
    margin: 10px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
}
.questionCard__card {
    border-bottom: 1px solid #5602a1;
    box-shadow: 0px 4px 4px 0px rgba(86, 2, 161, 0.25);
}


@media screen and (max-width: 1098px) {
    .questionCard {
        padding-left: 0;
        padding-right: 0;
    }
}