.track {
    width: 100%;
    margin-bottom: 30px;
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track__width {
    max-width: 1600px;
    padding-left: 140px;
    padding-right: 140px;
    margin-right: auto;
    margin-left: auto;
}

.track__content {
    position: relative;
    background: var(--background);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.track__img {
    display: flex;
    flex-wrap: wrap;
}

.track__header {
    position: absolute;
    bottom: 10px;
    color: #fff;
    max-width: 400px;
    height: 120px;
    background-color: #ff3b3c;
    padding: 10px;
    transition: transform 450ms;
}

.track__header:hover {
    transform: scale(1.08);
}

.hard {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
}

@media screen and (max-width: 1102px) {
    .track {
        display: none;
    }
}