* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: black;
  --primary: #074C6D;
  --text-secondary: #f8cf5b;
  --accent: #f8cf5b;
  --text: #fff;
  --questionColor: #074C6D;
  --timerBox:  #f8cf5b;
  --quotes: darkslategray;
  --quotesCard: #f8cf5b;
  --meme: darkslategray;
  --mobileIcon: #fff;
  --mobileMenu: #89c5c6;
  --about: lightslategray;
  --line: 1px solid #f8cf5b;
}

[data-theme='light'] {
  --background: white;
  --text-primary: white;
  --text-secondary: #89c5c6;
  --accent: #fff;
  --text: #000;
  --questionColor: #fff;
  --timerBox: #fff;
  --quotes: #fff;
  --quotesCard: #ff3b3b;
  --meme: #074C6D;
  --mobileIcon: #89c5c6;
  --mobileMenu: #fff;
  --about: #000;
  --line: 0px;
}
